<!-- Page info -->
<div class="page-info-section set-bg" ng-style="{ 'background-image': 'url(img/page-bg/about_page.jpg)' }">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="#!/">Home</a>
            <span>Contact</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<!-- Page -->
<section class="contact-page spad pb-0" ng-controller="contactController">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form-warp">
                    <div class="section-title text-white text-left">
                        <h2>Get in Touch</h2>
                        <p>Want to contact us with new ideas, or provide feedback and suggestions regarding our work?
                            <br> You can do so via this form.
                        </p>
                    </div>
                    <form name="contactForm" class="contact-form">
                        <input ng-model="contactData.name" name="name" type="text" placeholder="Your name" required>
                        <span style="color: red;" ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
                            <small class="form-text">Name is required.</small>
                        </span>
                        <input ng-model="contactData.email_address" name="email" type="email" placeholder="Your e-mail address"
                            required>
                        <span style="color:red" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                            <span ng-show="contactForm.email.$error.required"><small class="form-text">Email address is
                                    required.</small></span>
                            <span ng-show="contactForm.email.$error.email"><small class="form-text">Invalid email
                                    address.</small></span>
                        </span>
                        <input ng-model="contactData.subject" type="text" placeholder="Subject">
                        <textarea ng-model="contactData.message" name="message" placeholder="Message" required></textarea>
                        <button class="site-btn" ng-click="sendMessage()" ng-disabled="loading">
                            <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i>&nbsp;Sending...</span>
                            <span ng-show="!loading">Send Message</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info-area">
                    <div class="section-title text-left p-0">
                        <h2>Contact Info</h2>
                        <p>Want to get in touch with our Club? Feel free to contact us.</p>
                    </div>
                    <div class="phone-number">
                        <span>Direct Line</span>
                        <h2><a href="tel:+387603383856">+387603383856</a></h2>
                    </div>
                    <ul class="contact-list">
                        <li>Francuske revolucije bb. <br>Ilidža, 71210</li>
                        <li>+387603383856</li>
                        <li><a href="mailto:ibuesd@gmail.com">ibuesd@gmail.com</a></li>
                    </ul>
                    <div class="social-links">
                        <!-- <a href="#"><i class="fa fa-pinterest"></i></a> -->
                        <a target="_blank" href="https://www.facebook.com/IBUesd/"><i class="fa fa-facebook"></i></a>
                        <!-- <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="map-canvas" ng-init=initializeMap() ng-controller="mapController"></div>
    </div>
</section>
<!-- Page end -->
<script src="js/lib/map.js"></script>