<!-- Page info -->
<div class="page-info-section set-bg" ng-style="{ 'background-image': 'url(img/page-bg/4.jpg)' }">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="#!/">Home</a>
            <span>Contact</span>
        </div>
    </div>
</div>
<!-- Page info end -->

<!-- search section -->
<!-- <section class="search-section ss-other-page">
    <div class="container">
        <div class="search-warp">
            <div class="section-title text-white">
                <h2><span>Search your course</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1"> -->
                    <!-- search form -->
                    <!-- <form class="course-search-form">
                        <input type="text" placeholder="Course">
                        <input type="text" class="last-m" placeholder="Category">
                        <button class="site-btn btn-dark">Search Couse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- search section end -->

<!-- Page -->
<section class="contact-page spad pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form-warp">
                    <div class="section-title text-white text-left">
                        <h2>Get in Touch</h2>
                        <p>Want to contact us with new ideas, or provide feedback and suggestions regarding our work?
                            <br> You can do so via this form.
                        </p>
                    </div>
                    <form class="contact-form">
                        <input type="text" placeholder="Your Name">
                        <input type="text" placeholder="Your E-mail">
                        <input type="text" placeholder="Subject">
                        <textarea placeholder="Message"></textarea>
                        <button class="site-btn">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info-area">
                    <div class="section-title text-left p-0">
                        <h2>Contact Info</h2>
                        <p>Want to get in touch with our Club? Feel free to contact us.</p>
                    </div>
                    <div class="phone-number">
                        <span>Direct Line</span>
                        <h2><a href="tel:+387603383856">+387603383856</a></h2>
                    </div>
                    <ul class="contact-list">
                        <li>Francuske revolucije bb. <br>Ilidža, 71210</li>
                        <li>+387603383856</li>
                        <li><a href="mailto:esdclub@gmail.com">esdclub@gmail.com</a></li>
                    </ul>
                    <div class="social-links">
                        <!-- <a href="#"><i class="fa fa-pinterest"></i></a> -->
                        <a target="_blank" href="https://www.facebook.com/IBUesd/"><i class="fa fa-facebook"></i></a>
                        <!-- <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="map-canvas" ng-init=initializeMap() ng-controller="mapController"></div>
    </div>
</section>
<!-- Page end -->
<script src="js/map.js"></script>